Django==1.6.2
South==0.8.4
amqp==1.4.4
anyjson==0.3.3
billiard==3.3.0.16
celery==3.1.10
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
kombu==3.0.14
pystache==0.5.3
pytz==2014.2
static==1.0.2
wsgiref==0.1.2
twilio
httplib2
six
django-celery
