<!--
		author: Ross Kinsella	
		date:   2014/feb/13

		Displays a list of all the models in the accounting app.

-->

<ul>  
	<li><a href="/accounting/accounts/">Accounts:<a></li>
  <li><a href="/accounting/transaction_categories/">Transaction categories:<a></li>
  <li><a href="/accounting/transaction_methods/">Transaction methods:<a></li>
  <li><a href="/accounting/transactions/">Transactions:<a></li>
  <li><a href="/accounting/bills/">Bills:<a></li>
  <li><a href="/accounting/invoices/">Invoices:<a></li>
  <li><a href="/accounting/grants/">Grants:<a></li>
</ul>