{% extends "accounting/base.html" %}
{% block content %}
<script src="{{ STATIC_URL }}assets/js/xcharts.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/d3.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/jquery-2.1.0.min.js"></script>
<script src="{{ STATIC_URL }}assets/js/jquery.flot.pie.min.js"></script>

<div class="row">
    <div class="col-sm-6">
      <div class="box">
        <div class="box-header" data-original-title>
          <h2><i class="fa fa-list-alt"></i><span class="break"></span>Spending by category</h2>
          <div class="box-icon">
            <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
          </div>
        </div>
        <div class="box-content">
           <div id="donutchart" style="height: 300px;">
             Insert pie chart here.
           </div>
        </div>
      </div>
    </div><!--/col-->    
  <div class="col-sm-6">
    <div class="box">
      <div class="box-header">
        <h2><i class="fa fa-bar-chart-o"></i>Spending by month</h2>
          <div class="box-icon">      
            <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>    
          </div>
      </div>
      <div class="box-content">
        <figure id="example1" style="height: 300px"></figure>
      </div>
    </div>
  </div>
</div>

<script>
      
(function () {
      var data = {
  "xScale": "time",
  "yScale": "linear",
  
  "main": [
    {
      "className": ".monthly_transactions",
      "data": [
        {
          "x": "01",
          "y": {{monthlyTotals.0.1.total}}
        },
        {
          "x": "02",
          "y": {{monthlyTotals.1.1.total}}
        },      
        {
          "x": "03",
          "y": {{monthlyTotals.2.1.total}}
        },
        {
          "x": "04",
          "y": {{monthlyTotals.3.1.total}}
        },      
        {
          "x": "05",
          "y": {{monthlyTotals.4.1.total}}
        },
        {
          "x": "06",
          "y": {{monthlyTotals.5.1.total}}
        },      
        {
          "x": "07",
          "y": {{monthlyTotals.6.1.total}}
        },
        {
          "x": "08",
          "y": {{monthlyTotals.7.1.total}}
        },      
        {
          "x": "09",
          "y": {{monthlyTotals.8.1.total}}
        },
        {
          "x": "10",
          "y": {{monthlyTotals.9.1.total}}
        },      
        {
          "x": "11",
          "y": {{monthlyTotals.10.1.total}}
        },
        {
          "x": "12",
          "y": {{monthlyTotals.11.1.total}}
        }
      ]
    }
  ]
};
      var opts = {
  "dataFormatX": function (x) { return d3.time.format('%m').parse(x); },
  "tickFormatX": function (x) { return d3.time.format('%b')(x); }
};
      
      var myChart = new xChart('line', data, '#example1', opts);
      
    }());
</script>      
{% endblock %}