{% extends "accounting/base.html" %}

{% block header_extra %}
	<link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/table.css" type ="text/css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.tablesorter.min.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.validate.min.js"></script> 
	<script src="http://malsup.github.com/jquery.form.js"></script> 

	<style>
	#table
	{
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	display: block;
	border-collapse:collapse;
	}
	</style>
{% endblock %}

{% block content %}
			<div class="row">		
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header" data-original-title>
							<h2><i class="fa fa-user"></i><span class="break"></span>Transactions</h2>
							<div class="box-icon">
								<a href="table.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>Date</th>
									  <th></th>
									  <th>Category</th>
									  <th>Method</th>
									  <th>Amount</th>
									  <th>Description</th>
									  <th>options</th>
								  </tr>
							  </thead>   
							  <tbody>
							  {% for transaction in transactions %}
								<tr>
									<td>{{transaction.get_stubbed_time}}</td>
									{% ifequal transaction.transaction_method|stringformat:"s" "Cheque" %}
											{% if transaction.is_reconciled %}
													<td class="center" alt="DATE" title="Reconciled: {{transaction.bank_reconlliation_date}}"> 
														<input class="reconcileTick" type="checkbox" data-id="{{transaction.id}}" checked>
													</td>
											{% else %}
													<td class="center reconcileTick" alt="DATE" title="Not Reconciled.">
													 <input class="reconcileTick" type="checkbox" data-id="{{transaction.id}}">
													</td>
											{% endif %}
									{% else %}	
											<td class="center" alt="DATE"> 
												<input type="checkbox" data-id="{{transaction.id}}" disabled>
											</td>
									{% endifequal %}
									<td class="center"> {{transaction.transaction_category}}</td>
									<td class="center"> {{transaction.transaction_method}}</td>
									<td class="center"> {{transaction.ammount}} </td>
									<td class="center"> {{transaction.description}} </td>
									<td class="center">
										<a class="btn btn-success" href="table.html#">
											<i class="fa fa-search-plus "></i>  
										</a>
										<!-- edit transaction -->
										<a class="btn btn-info" href="table.html#">
											<i class="fa fa-edit "></i>  
										</a>
										<!-- delete transaction -->
										<a class="btn btn-danger" href="/{{society.slug}}/transactions/delete/{{transaction.id}}">
											<i class="fa fa-trash-o "></i> 
										</a>
									</td>
								</tr>
								{% endfor%}
								
								<tr>
									<form 
										name="newTransaction"
										id="submissionForm"
										method="post" 
										action="create/" 
										onsubmit="mainFunction()">
										{% csrf_token %}
										<td>
											<input type="text" class="form-control date-picker" id="id_user_input_date" data-date-format="dd/mm/yyyy"/>
										</td>
										<td/>
										<td id="quick_test"> <input id="input_transaction_category"> </td>
										<td> <input id="input_transaction_method" class="required"> </td>
										<td> {{transaction_form.ammount}} </td>
										<td> {{transaction_form.description}} </td>
										<td style="display: none"> {{ transaction_form.account }} </td>
										<td style="display: none"> {{ transaction_form.bank_reconlliation_date }} </td>
										<td style="display: none"> {{ transaction_form.date }} </td>
										<td style="display: none"> {{ transaction_form.transaction_category }} </td>
										<td style="display: none"> {{ transaction_form.transaction_method }} </td>
										<td><input type="submit" value="Create" style="width: 118px"/></td>
									</form>
								</tr>
							</tbody>
						</table>  
							<div class="pagination">
						    <span class="step-links">
					        {% if transactions.has_previous %}
					          <a href="?page={{ transactions.previous_page_number }}">previous</a>
					        {% endif %}
					        <span class="current">
					          Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
					        </span>
					        {% if transactions.has_next %}
					          <a href="?page={{ transactions.next_page_number }}">next</a>
					        {% endif %}
						    </span>
							</div>
						</div>
					</div>
				</div><!--/col-->
			</div><!--/row-->
{% endblock %}

{% block javascript_extra %}
	<script>
	$("#submissionForm").validate();
	</script>

<form style= "display:none" 
			id="createCategory"
			action="/accounting/transactions/" 
			method="post"> 
		{% csrf_token %}
    <input id="id_account">
    <input id="id_name">
</form>

<input style= "display:none" id="categoryIdStore"/>

<!--
	Enable tablesorter on the transactions table, initally sorting by the most recent date.
	-->
<script>
	$(document).ready(function() 
    { 
    $("table").tablesorter({ 
        sortList: [[0,1]] 
    });
    } 
);
</script>


<script>
  $.ajaxSetup({data: {
    csrfmiddlewaretoken: '{{ csrf_token }}'
  }});
</script>


<!--	
			Function to take the transaction category/method text input and find the 
			matching value and assign it to the form.

			This is needed as the validator looks for an index value, not text.										
   	-->
<script>
function mainFunction()
{
	assignCategoryValue();
	assignMethodValue();
	assignSubmitDateTime();
}

function assignCategoryValue()
{
	var userInput = $("#input_transaction_category").val();
	var formOptions = document.getElementById("id_transaction_category").options;
	var formValue = formOptions[formOptions.selectedIndex].value;

	for(var i=1;i<formOptions.length;i++)
	{
		if(formOptions[i].text == userInput)
		{
			$("#id_transaction_category").val(formOptions[i].value);
			return false;
		}
	}
	alert("Doesn't exist, creating.")
	var result = createCategory(userInput);
	alert(result);
	return false;
}

function assignMethodValue()
{
	var userInput = document.getElementById("input_transaction_method").value;
	var formOptions = document.getElementById("id_transaction_method").options;
	var formValue = formOptions[formOptions.selectedIndex].value;

	for(var i=1;i<formOptions.length;i++)
	{
		if(formOptions[i].text == userInput)
		{
			document.getElementById('id_transaction_method').value=formOptions[i].value
			return false;
		}
	}
	return false;
}

function assignSubmitDateTime(userInput)
{
	var timeStamp = new Date();
	var time = getTime(timeStamp);
	var inputDate = document.getElementById('id_user_input_date').value;
	
	var formattedDate = formatDate(inputDate);
	var inputTimeStamp = formattedDate + " " + time;
	
	document.getElementById('id_date').value = inputTimeStamp;
}

function getTime(dateString) {
    var date = new Date(dateString),
        hours = ("0" + (date.getHours())).slice(-2),
        minutes  = ("0" + date.getMinutes()).slice(-2),
        seconds = ("0" + (date.getSeconds())).slice(-2);
    return [ hours, minutes, seconds ].join(":");
}

function formatDate(inputDate)
{
	var day = inputDate[0] + inputDate[1];
	var month = inputDate[3] + inputDate[4];
	var year = inputDate[6] + inputDate[7] + inputDate[8] + inputDate[9];
	var formattedDate = year + '-' + month + '-' + day;
	return formattedDate;
}

function createCategory(userInput)
{
  var postdata = { 'csrfmiddlewaretoken': '{{ csrf_token }}' }
  $.post("create_category/"+userInput+'/', postdata, function( data ){
  	var cat_id = JSON.stringify(data.category_id);
  	// the below line alerts the desired result.
  	alert("Result:" + cat_id);
  	
  	// I want to populate the form with this value
  	// However, it is not populating.
  	$("#id_transaction_category").val(cat_id);
  });
}

$('[data-rel="chosen"],[rel="chosen"]').chosen({no_results_text: "No category found - <a href='#'>Create Category</a>",});
</script>

<!--	
			Function for autocomplete of the transaction category and method fields.										
   	-->
<script>
	$(".reconcileTick").click(function(){
		var transaction_id = ($(this).data("id"));
		// I dont know why, but the below line takes away "undefined" from transaction_id
		var foo = transaction_id[0];
		var postdata = { 'csrfmiddlewaretoken': '{{ csrf_token }}' }
		$.post("reconcile/" + transaction_id, postdata);
	});

  $(function() 
  {
    var availableCategories = $.map($('#id_transaction_category option'), function(ele) 
    {
  		return ele.text; 
		});

    $( "#input_transaction_category" ).autocomplete
    ({
      source: availableCategories
    }) 
  });

  $(function() 
  {
    var availableMethods = new Array();
    availableMethods[0] = "cash";
    availableMethods[1] = "cheque";

    $( "#input_transaction_method" ).autocomplete
    ({
      source: availableMethods
    }) 
  });
</script>
{% endblock %}