{% extends "accounting/base.html" %}

{% block header_extra %}
	<link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/table.css" type ="text/css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.tablesorter.min.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.validate.min.js"></script> 
	<script src="http://malsup.github.com/jquery.form.js"></script> 

	<style>
	#table
	{
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	display: block;
	border-collapse:collapse;
	}
	</style>
{% endblock %}

{% block content %}
			<div class="row">		
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header" data-original-title>
							<h2><i class="fa fa-book"></i><span class="break"></span>Transactions</h2>
							<div class="box-icon">
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>Date</th>
									  <th></th>
									  <th>Category</th>
									  <th>Method</th>
									  <th>Amount</th>
									  <th>Description</th>
									  <th>Option</th>
								  </tr>
							  </thead>   
							  <tbody>
							  {% for transaction in transactions %}
								<tr>
									<td>{{transaction.get_stubbed_time}}</td>
									{% ifequal transaction.transaction_method|stringformat:"s" "Cheque" %}
											{% if transaction.is_reconciled %}
													<td class="center" alt="DATE" title="Reconciled: {{transaction.bank_reconlliation_date}}"> 
														<input class="reconcileTick" type="checkbox" data-id="{{transaction.id}}" checked>
													</td>
											{% else %}
													<td class="center reconcileTick" alt="DATE" title="Not Reconciled.">
													 <input class="reconcileTick" type="checkbox" data-id="{{transaction.id}}">
													</td>
											{% endif %}
									{% else %}	
											<td class="center" alt="DATE"> 
												<input type="checkbox" data-id="{{transaction.id}}" disabled>
											</td>
									{% endifequal %}
									<td class="center"> {{transaction.transaction_category}}</td>
									<td class="center"> {{transaction.transaction_method}}</td>
									<td class="center"> {{transaction.amount}} </td>
									<td class="center"> {{transaction.description}} </td>
									<td class="center">
										<!-- delete transaction -->
										<a style="margin-left: 19%" class="btn btn-danger" href="/{{society.slug}}/transactions/delete/{{transaction.id}}">
											<i class="fa fa-trash-o "></i> 
										</a>
									</td>
								</tr>
								{% endfor%}
								
								<tr>
									<form 
										name="newTransaction"
										id="submissionForm"
										method="post" 
										action="create/" 
										onsubmit="mainFunction()">
										{% csrf_token %}
										<td>
											<input class="form-control date-picker focused" id="id_user_input_date" data-date-format="dd/mm/yyyy"/>
										</td>
										<!-- Empty column to allow for reconiliation checkbo -->
										<td/> 
										<td>
											<input id="id_transaction_category" name="transaction_category" class="form-control focused">
										</td>
										<td> 
											<input id="input_transaction_method" class="required form-control focused">
										</td>
										<td>
											<input id="id_amount" name="amount" class="form-control focused">
										</td>
										<td> 
											<input id="id_description" name="description" class="form-control focused"> 
										</td>
										<td>
											<input type="submit" value="Create" style="width: 100%; margin-top: 8%"/>
										</td>

										<!-- Hidden fields to keep the validator happy. Better solution is a custom form -->
										<td style="display: none"> {{ transaction_form.account }} >
										<td style="display: none"> {{ transaction_form.bank_reconlliation_date }}>
										<td style="display: none"> {{ transaction_form.date }}>
										<td style="display: none"> {{ transaction_form.transaction_method }}>
									</form>
								</tr>
							</tbody>
						</table>  
							<div class="pagination">
						    <span class="step-links">
					        {% if transactions.has_previous %}
					          <a href="?page={{ transactions.previous_page_number }}">previous</a>
					        {% endif %}
					        <span class="current">
					          Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
					        </span>
					        {% if transactions.has_next %}
					          <a href="?page={{ transactions.next_page_number }}">next</a>
					        {% endif %}
						    </span>
							</div>
						</div>
					</div>
				</div><!--/col-->
			</div><!--/row-->

<!-- lazy, highly illegal solution for autocomplete -->
<!-- future, legal solution is to map a json response from an endpoint -->
<select id="transaction_categories_list" style="display: none">
	<option value="" selected="selected">---------</option>
{% for category in categories %} 
	<option value="{{forloop.counter}}"> {{category.name}} </option>
{% endfor %}
</select>
{% endblock %}

{% block javascript_extra %}
<!--
	Enable tablesorter on the transactions table, initally sorting by the most recent date.
	-->
<script>
	$(document).ready(function() 
    { 
    $("table").tablesorter({ 
        sortList: [[0,1]] 
    });
    } 
);
</script>


<script>
  $.ajaxSetup({data: {
    csrfmiddlewaretoken: '{{ csrf_token }}'
  }});
</script>


<!--	
			Functionality to:

			-Take the transaction method text input and find the 
			matching value and assign it to the form.

			-Take time format from the simplyq template and format it
			in such a way that django likes it;								
   	-->
<script>
function mainFunction()
{
	assignMethodValue();
	assignSubmitDateTime();
}

function assignMethodValue()
{
	var userInput = document.getElementById("input_transaction_method").value;
	var formOptions = document.getElementById("id_transaction_method").options;


	if(userInput == "Cash")
	{
		userInput = "cash"
	}
	if(userInput == "Cheque")
	{
		userInput = "cheque"
	}

	for(var i=1;i<formOptions.length;i++)
	{
		if(formOptions[i].text == userInput)
		{
			document.getElementById('id_transaction_method').value=formOptions[i].value
			return false;
		}
	}
	return false;
}

function assignSubmitDateTime(userInput)
{
	var timeStamp = new Date();
	var time = getTime(timeStamp);
	var inputDate = document.getElementById('id_user_input_date').value;
	
	var formattedDate = formatDate(inputDate);
	var inputTimeStamp = formattedDate + " " + time;
	
	document.getElementById('id_date').value = inputTimeStamp;
}

function getTime(dateString) {
    var date = new Date(dateString),
        hours = ("0" + (date.getHours())).slice(-2),
        minutes  = ("0" + date.getMinutes()).slice(-2),
        seconds = ("0" + (date.getSeconds())).slice(-2);
    return [ hours, minutes, seconds ].join(":");
}

function formatDate(inputDate)
{
	var day = inputDate[0] + inputDate[1];
	var month = inputDate[3] + inputDate[4];
	var year = inputDate[6] + inputDate[7] + inputDate[8] + inputDate[9];
	var formattedDate = year + '-' + month + '-' + day;
	return formattedDate;
}
</script>

<!--	
			Function for autocomplete of the transaction category and method fields.										
   	-->
<script>
	$(".reconcileTick").click(function(){
		var transaction_id = ($(this).data("id"));
		// I dont know why, but the below line takes away "undefined" from transaction_id
		var foo = transaction_id[0];
		var postdata = { 'csrfmiddlewaretoken': '{{ csrf_token }}' }
		$.post("reconcile/" + transaction_id, postdata);
	});

  $(function() 
  {
    var availableCategories = $.map($('#transaction_categories_list option'), function(ele) 
    {
  		return ele.text; 
		});

    $( "#id_transaction_category" ).autocomplete
    ({
      source: availableCategories
    }) 
  });


  $(function() 
  {
    var availableMethods = new Array();
    availableMethods[0] = "cash";
    availableMethods[1] = "cheque";

    $( "#input_transaction_method" ).autocomplete
    ({
      source: availableMethods
    }) 
  });
</script>
{% endblock %}