{% extends "accounting/base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/table.css" type ="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.tablesorter.min.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}/jquery/jquery.validate.min.js"></script> 
<script src="http://malsup.github.com/jquery.form.js"></script> 

<style>
#table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
display: block;
border-collapse:collapse;
}
</style>

<style>
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: .6em;
}
.ui-widget .ui-widget {
	font-size: .4em;
}
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: .4em;
}
</style>
			<div class="row">		
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header" data-original-title>
							<h2><i class="fa fa-user"></i><span class="break"></span>Transactions</h2>
							<div class="box-icon">
								<a href="table.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="table.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<table class="table table-striped table-bordered bootstrap-datatable datatable">
							  <thead>
								  <tr>
									  <th>Date</th>
									  <th>Category</th>
									  <th>Method</th>
									  <th>Ammount</th>
									  <th>Description</th>
								  </tr>
							  </thead>   
							  <tbody>
							  {% for transaction in transactions %}
								<tr>
									<td>{{transaction.get_stubbed_time}}</td>
									<td class="center"> {{transaction.transaction_category}}</td>
									<td class="center"> {{transaction.transaction_method}}</td>
									<td class="center"> {{transaction.ammount}} </td>
									<td class="center"> {{transaction.description}} </td>
									<td class="center">
										<a class="btn btn-success" href="table.html#">
											<i class="fa fa-search-plus "></i>  
										</a>
										<!-- edit transaction -->
										<a class="btn btn-info" href="table.html#">
											<i class="fa fa-edit "></i>  
										</a>
										<!-- delete transaction -->
										<a class="btn btn-danger" href="/{{society.slug}}/transactions/delete/{{transaction.id}}">
											<i class="fa fa-trash-o "></i> 
										</a>
									</td>
								</tr>
								{% endfor%}
								
								<tr>
									<form 
										name="newTransaction"
										id="submissionForm"
										method="post" 
										action="create/" 
										onsubmit="mainFunction()">
										{% csrf_token %}
										<td>
											<input type="text" class="form-control date-picker" id="id_user_input_date" data-date-format="yyyy-mm-dd"/>
										</td>
										<td id="quick_test"> <input id="input_transaction_category"> </td>
										<td> <input id="input_transaction_method" class="required"> </td>
										<td> {{form.ammount}} </td>
										<td> {{form.description}} </td>
										<td style="display: none"> {{ form.account }} </td>
										<td style="display: none"> {{ form.submit_date }} </td>
										<td style="display: none"> {{ form.transaction_category }} </td>
										<td style="display: none"> {{ form.transaction_method }} </td>
										<td><input type="submit" value="Create" style="width: 118px"/></td>
									</form>
								</tr>
							</tbody>
						</table>  
							<div class="pagination">
						    <span class="step-links">
					        {% if transactions.has_previous %}
					          <a href="?page={{ transactions.previous_page_number }}">previous</a>
					        {% endif %}
					        <span class="current">
					          Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}.
					        </span>
					        {% if transactions.has_next %}
					          <a href="?page={{ transactions.next_page_number }}">next</a>
					        {% endif %}
						    </span>
							</div>
						</div>
					</div>
				</div><!--/col-->
			</div><!--/row-->
<script>
	$("#submissionForm").validate();
</script>


<form style= "display:none" 
			id="createCategory"
			action="/accounting/transactions/" 
			method="post"> 
		{% csrf_token %}
    <input id="id_account">
    <input id="id_name">
</form>

<!--
	Enable tablesorter on the transactions table, initally sorting by the most recent date.
	-->
<script>
	$(document).ready(function() 
    { 
    $("table").tablesorter({ 
        sortList: [[0,1]] 

    });
    } 
);
</script>






<!--	
			Function to take the transaction category/method text input and find the 
			matching value and assign it to the form.

			This is needed as the validator looks for an index value, not text.										
   	-->
<script>
function mainFunction()
{
	assignCategoryValue();
	assignMethodValue();
	assignSubmitDateTime();
}

function assignCategoryValue()
{
	var userInput = document.getElementById("input_transaction_category").value;
	var formOptions = document.getElementById("id_transaction_category").options;
	var formValue = formOptions[formOptions.selectedIndex].value;

	for(var i=1;i<formOptions.length;i++)
	{
		if(formOptions[i].text == userInput)
		{
			document.getElementById('id_transaction_category').value=formOptions[i].value
			return false;
		}
	}
	alert("Doesn't exist, creating.")
	createCategory(userInput);
	document.getElementById('id_transaction_category').value=formOptions.length;
	return false;
}

function assignMethodValue()
{
	var userInput = document.getElementById("input_transaction_method").value;
	var formOptions = document.getElementById("id_transaction_method").options;
	var formValue = formOptions[formOptions.selectedIndex].value;

	for(var i=1;i<formOptions.length;i++)
	{
		if(formOptions[i].text == userInput)
		{
			document.getElementById('id_transaction_method').value=formOptions[i].value
			return false;
		}
	}
	return false;
}

function assignSubmitDateTime(userInput)
{
	var timeStamp = new Date();
	var time = getTime(timeStamp);
	var date = document.getElementById('id_user_input_date').value;
	var inputTimeStamp = date + " " + time;
	
	document.getElementById('id_submit_date').value = inputTimeStamp;
	var test = document.getElementById('id_submit_date').value;
	alert(test);
}

function getTime(dateString) {
    var date = new Date(dateString),
        hours = ("0" + (date.getHours()+1)).slice(-2),
        minutes  = ("0" + date.getMinutes()).slice(-2),
        seconds = ("0" + (date.getSeconds()+1)).slice(-2);
    return [ hours, minutes, seconds ].join(":");
}

function createCategory(userInput)
{
  var form = document.createElement("form");
  var element1 = document.createElement("input"); 
  var element2 = document.createElement("input");  

  form.method = "POST";
  form.action = "/accounting/transaction_categories/";   

  element1.value= document.getElementById("id_account").value;
  element1.name=	"account";
  form.appendChild(element1);  

  element2.value=userInput;
  element2.name="name";
  form.appendChild(element2);

  document.body.appendChild(form);


  $('#form').ajaxForm(function() { 
          alert("Thank you for your comment!"); 
      }); 
  return false;
}
</script>

<!--	
			Function for autocomplete of the transaction category and method fields.										
   	-->
<script>
  $(function() 
  {
    var availableCategories = $.map($('#id_transaction_category option'), function(ele) 
    {
  		return ele.text; 
		});

    $( "#input_transaction_category" ).autocomplete
    ({
      source: availableCategories
    }) 
  });

  $(function() 
  {
    var availableMethods = $.map($('#id_transaction_method option'), function(ele) 
    {
  		return ele.text; 
		});

    $( "#input_transaction_method" ).autocomplete
    ({
      source: availableMethods
    }) 
  });
</script>

{% endblock %}