<style>
#table
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
display: block;
border-collapse:collapse;
}
#table td, #table th
{
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
}
#table th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}
#table tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}
#table td.alt td 
{
color:#000088;
background-color:#EAF2D3;
}
</style>