<!--u
		author: Ross Kinsella	
		date:   2014/feb/13

		Displays a list of all the societies and links to more detail view.
		Displays a form to create a new society.

		TODO: 
		- Style sheet
		- Revise users in form|model.
		- Show an error when you dont select users.
		  |- maybe rename members to committe_members?

	-->
<html>
<head>
  <title>USM</title>
	<meta name="keywords" content="sonic, responsive, free template, fluid layout, bootstrap, templatemo" />
	<meta name="description" content="Sonic is one-page responsive free template using Bootstrap. This layout is suitable for creative portfolio showcase." />
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/templatemo_misc.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/templatemo_style.css">
</head>
<body>

	<!-- This one in here is responsive menu for tablet and mobiles -->
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars fa-2x"></i>
        </a>
        <div class="navigation responsive-menu">
            <ul>
              <li class="home"><a href="#templatemo">Home</a></li>
	            <li class="about"><a href="#about">About Us</a></li>
	            <li class="services"><a href="#services">Services</a></li>
	            <li class="portfolio"><a href="#portfolio">Portfolio</a></li>
	           	<li class="contact"><a href="/signup/">Sign up</a></li>	
	           	<li class="contact"><a href="/login/">Sign in</a></li>	
            </ul> <!-- /.main_menu -->
        </div> <!-- /.responsive_menu -->
    </div> <!-- /responsive_navigation -->

	<div id="main-sidebar" class="hidden-xs hidden-sm">
		<div class="logo">
			<a href="/" rel="nofollow"><h1>USM</h1></a>
			<span>A Management Tool</span>
		</div> <!-- /.logo -->

				<div class="navigation">
	        <ul class="main-menu">
	            <li class="home"><a href="#templatemo">Home</a></li>
	            <li class="about"><a href="#about">About Us</a></li>
	            <li class="services"><a href="#services">Services</a></li>
	            <li class="portfolio"><a href="#portfolio">Portfolio</a></li>
	        </ul>
		</div> <!-- /.navigation -->
	</div>

	<div id="main-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="welcome-text" style="text-align:left">
							<h3><b> Sign up </b> :  Its free</h3>
								<div id="boxalign2" class="boxalign2" style="text-align: right; display: block; width: 370px">
									<form action= "" method = "post">
									{% csrf_token %} 
								    <label>Username:
								        <input class="registration-page" 
								        				required title="" id="id_username"  name="username" type="text" />
								    </label>
								    <label>Password:
								        <input class="registration-page" 
								        				required title="" id="id_password1" name="password1" type="password" />
								    </label>
								    <label>Password Confirmation:
								        <input class="registration-page" 
								        				required title="" id="id_password2" name="password2" type="password" />
								    </label>
								    <label>Email:
								        <input class="registration-page" 
								        				required title="" id= "id_email" name="email" type="email" />
								    </label>
								    <label>Email Confirmation:
								        <input class="registration-page" 
								        				required title="" name="id_email2" type="text" />
								    </label>
								    <input style="width:188px" type="submit" value="Register">
								   </form>
								</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</body>
</html>

