{% extends "main/login_base.html" %}

{% block login_content %}
	{% if user.society_set.all %}
	<h2 style="margin-top:10px;">Select your society:</h2>
	<div class="clearfix"></div>
	<div>
		{% for society in user.society_set.all %}
			<form action="{{society.slug}}/">
			    <button style="margin: 0 0 10px 0 !important;" class="btn btn-success col-xs-12 ladda-button" type="submit" data-style="zoom-out">{{ society.name }}</button>
			</form>
			<div class="clearfix"></div>
		{% endfor %}
	</div>
	<div class="clearfix"></div>{% endif %}
	<h2 style="margin-top: {% if user.society_set.all %}30px{% else%}10px{%endif%}">Create a New Society:</h2>
	<form action= "create_society/" method="post" class="form-horizontal">
		<fieldset>
			{% csrf_token %} 
			<input style="background-color: #c4c6cb;" class="input-large col-xs-12" name="name" id="username" type="text" placeholder="Society Name" required/>
				<div class="clearfix"></div>
				<button type="submit" class="btn btn-primary col-xs-12 ladda-button" data-style="zoom-out">Connect New Society</button>
		
		</fieldset>
	</form> 
	<div style="width:100%;text-align:center;">
		<strong>or</strong>
	</div>
	<h2 style="margin-top: 15px">Join a Society</h2>
		<form method="post" class="form-horizontal" id="request">
		<fieldset>
			{% csrf_token %} 
				<div id="request-error" style="color: red; display:block">
					<!-- Error messages returned by JSON are shown here -->
				</div>
			<input style="background-color: #c4c6cb;" class="input-large col-xs-12" id="username" type="text" placeholder="Society Code" name="slug" required/>
				<div class="clearfix"></div>
				<button type="submit" class="btn btn-primary col-xs-12 request ladda-button" data-style="zoom-out">Request Access</button>
		</fieldset>
	</form>  

{% endblock %}

{% block scripts %}
		Ladda.bind( '.btn', { timeout: 800 } );
		$('#request').submit(function (e) {
		    e.preventDefault();
		    setTimeout(function () {
				  $.post("request_membership/",  $( "#request" ).serialize(), function( data ){
				  	for(var key in data)
				    if (data.hasOwnProperty(key))
				    		$("#request-error").text(data[key]);
								return false;
				  });
		    }, 800); // in milliseconds
		});
{% endblock %}